@model ChangePasswordViewModel


<div class="header">
    <span class="col_fade">更改密码</span>
</div>
<div class="inner">
    <form id="change_pass_form" class="form-horizontal" action="@Url.Content("/User/ChangePassword")" method="post">
        @if(ViewData["Error2"] != null)
            {
            @if((bool)ViewData["Error2"])
                {
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <strong>@Html.ValidationSummary()</strong>
                </div>
            }
        }
        <input class="input-xlarge readonly" id="UserId" name="UserId" size="30" type="hidden" value="@Model.UserId">
        <div class="control-group">
            <label class="control-label" for="OldPassword">当前密码</label>
            <div class="controls">
                <input class="input-xlarge" type="password" id="OldPassword" name="OldPassword" size="30">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Password">新密码</label>
            <div class="controls">
                <input class="input-xlarge" type="password" id="Password" name="Password" size="30">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ConfirmPassword">新密码</label>
            <div class="controls">
                <input class="input-xlarge" type="password" id="ConfirmPassword" name="ConfirmPassword" size="30">
            </div>
        </div>
        <div class="form-actions">
            <input type="button" class="span-primary submit_btn" id="btn_change_password" data-loading-text="更改中.." value="更改密码">
        </div>
    </form>
</div>


<script type="text/javascript">
    $('#btn_change_password').click(function () {
        var data = {
            UserId:$('#UserId').val(),
            OldPassword: $('#OldPassword').val(),
            Password: $('#Password').val(),
            ConfirmPassword: $('#ConfirmPassword').val()
        };
        //console.log(data);
        $.ajax({
            url: '/User/ChangePassword',
            data: data,
            type: 'POST',
            dataType: 'html',
            success: function (data) {
                $('#changep_assword').html(data);
            }
        })
    });
</script>