@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "注册";
}
@section sidebar{
    @await Html.PartialAsync("_PartialAccountSidebar")
}
<div id="content">
    <div class="panel">
        <div class="header">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">主页</a><span class="divider">/</span></li>
                <li class="active">登录</li>
            </ul>
        </div>
        <div class="inner">
            <form id="signin_form" class="form-horizontal" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                @Html.AntiForgeryToken()
                @if((bool)ViewData["Error"])
                {
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        <strong>@Html.ValidationSummary()</strong>
                    </div>
                }
                <div class="control-group">
                    <label class="control-label" for="email">邮箱</label>
                    <div class="controls">
                        <input class="input-xlarge" id="Email" name="Email" size="30" type="text" placeholder="请输入邮箱">
                        <p class="help-block">请输入您的登录邮箱</p>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="span-primary" value="提交">
                </div>
            </form>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
</div>